In [1]:
import pandas as pd
import numpy as np

serie = pd.read_csv('Hotel reviews.csv')
df = pd.DataFrame(serie)

### holap

In [2]:
# Keeping only the hotels for our business purpose
df = df[df['Establishment Type'] == 'Hotel']
df.head()

,Review Date,Star Rating,Overview,Review,Traveler Type,Score Breakdown,Location,Reviewer Rank,Name,Establishment Type,Price Range,Hotel ID
0,28-Feb-11,5,Very nice atmosphere,We were together with some friends at the Anew...,traveled with family,Value: 5 of 5 stars; Location: 5 of 5 stars; S...,"Skofja Loka, Slovenia",NaN,Villa Ottone,Hotel,$$,25.0
1,21-Feb-10,4,"Very nice food, great atmosphere, feels like...",Martin and his staff are truely great! They ma...,traveled with family,Value: 5 of 5 stars; Location: 3 of 5 stars; S...,Brussels,Contributor,Villa Ottone,Hotel,$$,25.0
2,4 days ago NEW,5,Best Hotel on the Planet,We have stayed at the Excelsior on numerous oc...,traveled with family,Value: 5 of 5 stars; Sleep Quality: 5 of 5 sta...,"Singapore, Singapore",Contributor,San Vigilio,Hotel,$$$$,49.0
3,17-Sep-14,5,Fantastic,The great reviews are well deserved. Stayed he...,traveled as a couple,Location: 5 of 5 stars; Rooms: 5 of 5 stars; S...,"Burlington, Canada",Senior Contributor,San Vigilio,Hotel,$$$$,49.0
4,27-Jul-14,5,It is all true!,Not sure we can add anything to the accurate r...,traveled as a couple,Rooms: 5 of 5 stars; Cleanliness: 5 of 5 stars...,"Manchester, United Kingdom",Senior Reviewer,San Vigilio,Hotel,$$$$,49.0

#### DATE cleaning

In [3]:
df = df[~df['Review Date'].str.contains("ago")]
df = df[~df['Review Date'].str.contains("NEW")]
df = df.reset_index(drop = True)

In [4]:
df

,Review Date,Star Rating,Overview,Review,Traveler Type,Score Breakdown,Location,Reviewer Rank,Name,Establishment Type,Price Range,Hotel ID
0,28-Feb-11,5,Very nice atmosphere,We were together with some friends at the Anew...,traveled with family,Value: 5 of 5 stars; Location: 5 of 5 stars; S...,"Skofja Loka, Slovenia",NaN,Villa Ottone,Hotel,$$,25.0
1,21-Feb-10,4,"Very nice food, great atmosphere, feels like...",Martin and his staff are truely great! They ma...,traveled with family,Value: 5 of 5 stars; Location: 3 of 5 stars; S...,Brussels,Contributor,Villa Ottone,Hotel,$$,25.0
2,17-Sep-14,5,Fantastic,The great reviews are well deserved. Stayed he...,traveled as a couple,Location: 5 of 5 stars; Rooms: 5 of 5 stars; S...,"Burlington, Canada",Senior Contributor,San Vigilio,Hotel,$$$$,49.0
3,27-Jul-14,5,It is all true!,Not sure we can add anything to the accurate r...,traveled as a couple,Rooms: 5 of 5 stars; Cleanliness: 5 of 5 stars...,"Manchester, United Kingdom",Senior Reviewer,San Vigilio,Hotel,$$$$,49.0
4,23-Jul-14,5,Beyond our expectations,Everything was a high level surprise: from the...,traveled with family,Sleep Quality: 5 of 5 stars; Rooms: 5 of 5 sta...,"Milan, Italy",Contributor,San Vigilio,Hotel,$$$$,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4416,15-Nov-05,5,A Perfect Place to Stay in a Quaint Town,This hotel is above & beyond. The room was ver...,NaN,Value: 5 of 5 stars; Rooms: 5 of 5 stars; Clea...,"Santa Cruz, CA",Senior Reviewer,Bolzano,Hotel,$$,33.0
4417,9-Jul-05,4,Super Hotel,My wife and I spent two nights here in June. T...,NaN,Value: 4 of 5 stars; Rooms: 4 of 5 stars; Clea...,San Diego,Contributor,Bolzano,Hotel,$$,33.0
4418,31-May-05,5,How cool is this place!,"I am at the Hotel Greif now, writing this revi...",NaN,Value: 5 of 5 stars; Rooms: 5 of 5 stars; Clea...,"Winter Haven, FL",Reviewer,Bolzano,Hotel,$$,33.0
4419,3-Feb-05,5,Wow and wow,I have stayed at the Greif many times with my ...,traveled on business,Value: 4 of 5 stars; Rooms: 5 of 5 stars; Clea...,UK,Top Contributor,Bolzano,Hotel,$$,33.0
4420,7-Aug-13,5,"Otzi's home town, and this hotel, are great!",We thoroughly enjoyed our 2 day stay in Bolzan...,traveled as a couple,Value: 4 of 5 stars; Location: 5 of 5 stars; S...,"Melbourne, Australia",Contributor,Bolzano,Hotel,$$,99.0

In [5]:
df['Review Date'] = pd.to_datetime(df['Review Date'])

In [6]:
df.dtypes

Review Date           datetime64[ns]
Star Rating                    int64
Overview                      object
Review                        object
Traveler Type                 object
Score Breakdown               object
Location                      object
Reviewer Rank                 object
Name                          object
Establishment Type            object
Price Range                   object
Hotel ID                     float64
dtype: object

#### LOCATION cleaning

In [7]:
df.Location[df.Location.isnull() == True] = 'NULL' #Assigning a NULL to the empty cell, without doing it it is difficult to work on this column of lists

C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
df.Location = df.Location.str.split(", ")

In [9]:
# Creating a column just with the city and not the country because we have a lot of missing values for the country so is relevant to save only the city
for i in range(0,len(df)):
        df.Location[i] = df.Location[i][0]

C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
df.Location

0        Skofja Loka
1           Brussels
2         Burlington
3         Manchester
4              Milan
            ...
4416      Santa Cruz
4417       San Diego
4418    Winter Haven
4419              UK
4420       Melbourne
Name: Location, Length: 4421, dtype: object

#### Rewieer rank CLEANING

In [11]:
df['Reviewer Rank'].fillna('Contributor', inplace=True)
df['Reviewer Rank'] = df['Reviewer Rank'].map({'Contributor': 1,'Reviewer': 2,\
                                               'Senior Contributor': 3,'Senior Reviewer': 4, 'Top Contributor': 5})

In [12]:
df

,Review Date,Star Rating,Overview,Review,Traveler Type,Score Breakdown,Location,Reviewer Rank,Name,Establishment Type,Price Range,Hotel ID
0,2011-02-28,5,Very nice atmosphere,We were together with some friends at the Anew...,traveled with family,Value: 5 of 5 stars; Location: 5 of 5 stars; S...,Skofja Loka,1,Villa Ottone,Hotel,$$,25.0
1,2010-02-21,4,"Very nice food, great atmosphere, feels like...",Martin and his staff are truely great! They ma...,traveled with family,Value: 5 of 5 stars; Location: 3 of 5 stars; S...,Brussels,1,Villa Ottone,Hotel,$$,25.0
2,2014-09-17,5,Fantastic,The great reviews are well deserved. Stayed he...,traveled as a couple,Location: 5 of 5 stars; Rooms: 5 of 5 stars; S...,Burlington,3,San Vigilio,Hotel,$$$$,49.0
3,2014-07-27,5,It is all true!,Not sure we can add anything to the accurate r...,traveled as a couple,Rooms: 5 of 5 stars; Cleanliness: 5 of 5 stars...,Manchester,4,San Vigilio,Hotel,$$$$,49.0
4,2014-07-23,5,Beyond our expectations,Everything was a high level surprise: from the...,traveled with family,Sleep Quality: 5 of 5 stars; Rooms: 5 of 5 sta...,Milan,1,San Vigilio,Hotel,$$$$,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4416,2005-11-15,5,A Perfect Place to Stay in a Quaint Town,This hotel is above & beyond. The room was ver...,NaN,Value: 5 of 5 stars; Rooms: 5 of 5 stars; Clea...,Santa Cruz,4,Bolzano,Hotel,$$,33.0
4417,2005-07-09,4,Super Hotel,My wife and I spent two nights here in June. T...,NaN,Value: 4 of 5 stars; Rooms: 4 of 5 stars; Clea...,San Diego,1,Bolzano,Hotel,$$,33.0
4418,2005-05-31,5,How cool is this place!,"I am at the Hotel Greif now, writing this revi...",NaN,Value: 5 of 5 stars; Rooms: 5 of 5 stars; Clea...,Winter Haven,2,Bolzano,Hotel,$$,33.0
4419,2005-02-03,5,Wow and wow,I have stayed at the Greif many times with my ...,traveled on business,Value: 4 of 5 stars; Rooms: 5 of 5 stars; Clea...,UK,5,Bolzano,Hotel,$$,33.0
4420,2013-08-07,5,"Otzi's home town, and this hotel, are great!",We thoroughly enjoyed our 2 day stay in Bolzan...,traveled as a couple,Value: 4 of 5 stars; Location: 5 of 5 stars; S...,Melbourne,1,Bolzano,Hotel,$$,99.0

#### Expanding the Score Breakdown into 6 different columns

In [13]:
## creating a function to use in the below for loop
def sorter(text):
    text = text.strip()
    if text == "Value":
        return 0
    elif text == "Location":
        return 1
    elif text == "Sleep Quality":
        return 2
    elif text == "Rooms":
        return 3
    elif text == "Cleanliness":
        return 4
    elif text == "Service":
        return 5
    elif text == "Food":
        return 6
    else:
        return 7

In [14]:
#Dropping Na
df = df[df['Score Breakdown'].notna()].reset_index(drop = True)

In [15]:
import numpy as np
ma = np.zeros(shape = (len(df['Score Breakdown']), 8))

for i in range(0,len(df['Score Breakdown'])):
    
    ar = df['Score Breakdown'][i].split(";")
    ln = np.zeros(8)
    for j in range(0,len(ar)):
        k = ar[j][0:ar[j].index(':')]
        value = ar[j][(ar[j].index(':')+1):(ar[j].index('of'))].strip()
        ln[sorter(k)] = value
    ma[i] = ln

In [16]:
df['Value'] = pd.Series(np.transpose(ma)[0]).astype(int)
df['Location'] = pd.Series(np.transpose(ma)[1]).astype(int)
df['Sleep Quality'] = pd.Series(np.transpose(ma)[2]).astype(int)
df['Rooms'] = pd.Series(np.transpose(ma)[3]).astype(int)
df['Cleanliness'] = pd.Series(np.transpose(ma)[4]).astype(int)
df['Service'] = pd.Series(np.transpose(ma)[5]).astype(int)
df['Food'] = pd.Series(np.transpose(ma)[6]).astype(int)
del df['Score Breakdown']

### ML Pipeline

#### NLP Cleaning

In [17]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>")) # Increase cell width
display(HTML("<style>.rendered_html { font-size: 16px; }</style>")) # Increase font size

# Matplotlib conf
import matplotlib.pyplot as plt
from matplotlib import interactive
%matplotlib inline

# Seaborn conf
import seaborn as sns
sns.set_palette(sns.color_palette("seismic"))

# Needed Libraries
import sys
import pandas
import pandas as pd
import numpy as np
import operator
import string
import re

import nltk
from nltk import word_tokenize, pos_tag, ne_chunk
from nltk.stem import *
from nltk.corpus import stopwords
from nltk.tokenize import WhitespaceTokenizer



from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_score, GridSearchCV, ShuffleSplit

In [18]:
import nltk
nltk.download('stopwords')
import nltk
nltk.download('wordnet')
set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\tomma\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\tomma\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [19]:
def process_text(raw_text):
    letters_only = re.sub("[^a-zA-Z]", " ",raw_text) 
    words = letters_only.lower().split()
    
    stops = set(stopwords.words("english")) 
    not_stop_words = [w for w in words if not w in stops]
    
    wordnet_lemmatizer = WordNetLemmatizer()
    lemmatized = [wordnet_lemmatizer.lemmatize(word) for word in not_stop_words]
    
    stemmer = PorterStemmer()
    stemmed = [stemmer.stem(word) for word in lemmatized]
   
    
    return( " ".join( stemmed ))

In [20]:
# Cleaning the Overview
df['clean_overview'] = df['Overview'].apply(lambda x: process_text(x))
df.head()

,Review Date,Star Rating,Overview,Review,Traveler Type,Location,Reviewer Rank,Name,Establishment Type,Price Range,Hotel ID,Value,Sleep Quality,Rooms,Cleanliness,Service,Food,clean_overview
0,2011-02-28,5,Very nice atmosphere,We were together with some friends at the Anew...,traveled with family,5,1,Villa Ottone,Hotel,$$,25.0,5,4,5,5,5,0,nice atmospher
1,2010-02-21,4,"Very nice food, great atmosphere, feels like...",Martin and his staff are truely great! They ma...,traveled with family,3,1,Villa Ottone,Hotel,$$,25.0,5,5,4,5,5,0,nice food great atmospher feel like home
2,2014-09-17,5,Fantastic,The great reviews are well deserved. Stayed he...,traveled as a couple,5,3,San Vigilio,Hotel,$$$$,49.0,0,0,5,0,5,0,fantast
3,2014-07-27,5,It is all true!,Not sure we can add anything to the accurate r...,traveled as a couple,0,4,San Vigilio,Hotel,$$$$,49.0,0,0,5,5,5,0,true
4,2014-07-23,5,Beyond our expectations,Everything was a high level surprise: from the...,traveled with family,0,1,San Vigilio,Hotel,$$$$,49.0,0,5,5,0,5,0,beyond expect

In [21]:
# Cleaning the Review
# Cleaning the Overview
df['clean_review'] = df['Review'].apply(lambda x: process_text(x))
df.head()

,Review Date,Star Rating,Overview,Review,Traveler Type,Location,Reviewer Rank,Name,Establishment Type,Price Range,Hotel ID,Value,Sleep Quality,Rooms,Cleanliness,Service,Food,clean_overview,clean_review
0,2011-02-28,5,Very nice atmosphere,We were together with some friends at the Anew...,traveled with family,5,1,Villa Ottone,Hotel,$$,25.0,5,4,5,5,5,0,nice atmospher,togeth friend anewandt hof took apart enabl u ...
1,2010-02-21,4,"Very nice food, great atmosphere, feels like...",Martin and his staff are truely great! They ma...,traveled with family,3,1,Villa Ottone,Hotel,$$,25.0,5,5,4,5,5,0,nice food great atmospher feel like home,martin staff trueli great make feel home cheff...
2,2014-09-17,5,Fantastic,The great reviews are well deserved. Stayed he...,traveled as a couple,5,3,San Vigilio,Hotel,$$$$,49.0,0,0,5,0,5,0,fantast,great review well deserv stay five night augus...
3,2014-07-27,5,It is all true!,Not sure we can add anything to the accurate r...,traveled as a couple,0,4,San Vigilio,Hotel,$$$$,49.0,0,0,5,5,5,0,true,sure add anyth accur review wonder holiday exp...
4,2014-07-23,5,Beyond our expectations,Everything was a high level surprise: from the...,traveled with family,0,1,San Vigilio,Hotel,$$$$,49.0,0,5,5,0,5,0,beyond expect,everyth high level surpris kitchen breakfast h...

### Target definition
In order to define the target variable to train our NLP model we are going to use the overall rating

#### General Target

In [22]:
df['Target'] = np.nan
for i in range(0,len(df)):
    if df['Star Rating'][i] > 3:
        df['Target'][i] = 0
    else:
        df['Target'][i] = 1

C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
df[df.Target == 0]

,Review Date,Star Rating,Overview,Review,Traveler Type,Location,Reviewer Rank,Name,Establishment Type,Price Range,Hotel ID,Value,Sleep Quality,Rooms,Cleanliness,Service,Food,clean_overview,clean_review,Target
0,2011-02-28,5,Very nice atmosphere,We were together with some friends at the Anew...,traveled with family,5,1,Villa Ottone,Hotel,$$,25.0,5,4,5,5,5,0,nice atmospher,togeth friend anewandt hof took apart enabl u ...,0.0
1,2010-02-21,4,"Very nice food, great atmosphere, feels like...",Martin and his staff are truely great! They ma...,traveled with family,3,1,Villa Ottone,Hotel,$$,25.0,5,5,4,5,5,0,nice food great atmospher feel like home,martin staff trueli great make feel home cheff...,0.0
2,2014-09-17,5,Fantastic,The great reviews are well deserved. Stayed he...,traveled as a couple,5,3,San Vigilio,Hotel,$$$$,49.0,0,0,5,0,5,0,fantast,great review well deserv stay five night augus...,0.0
3,2014-07-27,5,It is all true!,Not sure we can add anything to the accurate r...,traveled as a couple,0,4,San Vigilio,Hotel,$$$$,49.0,0,0,5,5,5,0,true,sure add anyth accur review wonder holiday exp...,0.0
4,2014-07-23,5,Beyond our expectations,Everything was a high level surprise: from the...,traveled with family,0,1,San Vigilio,Hotel,$$$$,49.0,0,5,5,0,5,0,beyond expect,everyth high level surpris kitchen breakfast h...,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4054,2005-11-15,5,A Perfect Place to Stay in a Quaint Town,This hotel is above & beyond. The room was ver...,NaN,0,4,Bolzano,Hotel,$$,33.0,5,0,5,5,5,0,perfect place stay quaint town,hotel beyond room interest done differ differ ...,0.0
4055,2005-07-09,4,Super Hotel,My wife and I spent two nights here in June. T...,NaN,0,1,Bolzano,Hotel,$$,33.0,4,0,4,4,5,0,super hotel,wife spent two night june hotel nice modern ro...,0.0
4056,2005-05-31,5,How cool is this place!,"I am at the Hotel Greif now, writing this revi...",NaN,0,2,Bolzano,Hotel,$$,33.0,5,0,5,5,5,0,cool place,hotel greif write review laptop room provid ho...,0.0
4057,2005-02-03,5,Wow and wow,I have stayed at the Greif many times with my ...,traveled on business,0,5,Bolzano,Hotel,$$,33.0,4,0,5,5,5,0,wow wow,stay greif mani time work latterli holiday two...,0.0
4058,2013-08-07,5,"Otzi's home town, and this hotel, are great!",We thoroughly enjoyed our 2 day stay in Bolzan...,traveled as a couple,5,1,Bolzano,Hotel,$$,99.0,4,5,5,5,4,0,otzi home town hotel great,thoroughli enjoy day stay bolzano end week ene...,0.0

#### Multiclass Target

In [24]:
for i in range(0,len(df)):
    if df['Value'][i] > 3:
        df['Value'][i] = 0
    else:
        df['Value'][i] = 1
        
    if df['Sleep Quality'][i] > 3:
        df['Sleep Quality'][i] = 0
    else:
        df['Sleep Quality'][i] = 1
        
    if df['Rooms'][i] > 3:
        df['Rooms'][i] = 0
    else:
        df['Rooms'][i] = 1
        
    if df['Cleanliness'][i] > 3:
        df['Cleanliness'][i] = 0
    else:
        df['Cleanliness'][i] = 1
        
    if df['Service'][i] > 3:
        df['Service'][i] = 0
    else:
        df['Service'][i] = 1
    
    if df['Food'][i] > 3:
        df['Food'][i] = 0
    else:
        df['Food'][i] = 1

C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
df

,Review Date,Star Rating,Overview,Review,Traveler Type,Location,Reviewer Rank,Name,Establishment Type,Price Range,Hotel ID,Value,Sleep Quality,Rooms,Cleanliness,Service,Food,clean_overview,clean_review,Target
0,2011-02-28,5,Very nice atmosphere,We were together with some friends at the Anew...,traveled with family,5,1,Villa Ottone,Hotel,$$,25.0,0,0,0,0,0,1,nice atmospher,togeth friend anewandt hof took apart enabl u ...,0.0
1,2010-02-21,4,"Very nice food, great atmosphere, feels like...",Martin and his staff are truely great! They ma...,traveled with family,3,1,Villa Ottone,Hotel,$$,25.0,0,0,0,0,0,1,nice food great atmospher feel like home,martin staff trueli great make feel home cheff...,0.0
2,2014-09-17,5,Fantastic,The great reviews are well deserved. Stayed he...,traveled as a couple,5,3,San Vigilio,Hotel,$$$$,49.0,1,1,0,1,0,1,fantast,great review well deserv stay five night augus...,0.0
3,2014-07-27,5,It is all true!,Not sure we can add anything to the accurate r...,traveled as a couple,0,4,San Vigilio,Hotel,$$$$,49.0,1,1,0,0,0,1,true,sure add anyth accur review wonder holiday exp...,0.0
4,2014-07-23,5,Beyond our expectations,Everything was a high level surprise: from the...,traveled with family,0,1,San Vigilio,Hotel,$$$$,49.0,1,0,0,1,0,1,beyond expect,everyth high level surpris kitchen breakfast h...,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4054,2005-11-15,5,A Perfect Place to Stay in a Quaint Town,This hotel is above & beyond. The room was ver...,NaN,0,4,Bolzano,Hotel,$$,33.0,0,1,0,0,0,1,perfect place stay quaint town,hotel beyond room interest done differ differ ...,0.0
4055,2005-07-09,4,Super Hotel,My wife and I spent two nights here in June. T...,NaN,0,1,Bolzano,Hotel,$$,33.0,0,1,0,0,0,1,super hotel,wife spent two night june hotel nice modern ro...,0.0
4056,2005-05-31,5,How cool is this place!,"I am at the Hotel Greif now, writing this revi...",NaN,0,2,Bolzano,Hotel,$$,33.0,0,1,0,0,0,1,cool place,hotel greif write review laptop room provid ho...,0.0
4057,2005-02-03,5,Wow and wow,I have stayed at the Greif many times with my ...,traveled on business,0,5,Bolzano,Hotel,$$,33.0,0,1,0,0,0,1,wow wow,stay greif mani time work latterli holiday two...,0.0
4058,2013-08-07,5,"Otzi's home town, and this hotel, are great!",We thoroughly enjoyed our 2 day stay in Bolzan...,traveled as a couple,5,1,Bolzano,Hotel,$$,99.0,0,0,0,0,0,1,otzi home town hotel great,thoroughli enjoy day stay bolzano end week ene...,0.0

### Modelling

#### TRAIN/TEST

In [26]:
from sklearn.model_selection import train_test_split
X = df['clean_review']
y = df['Target']
print("X shape = ",X.shape)
print("y shape = ",y.shape)

X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.20, random_state=55, shuffle =True)
print('data splitting successfully')

X shape =  (4059,)
y shape =  (4059,)
data splitting successfully

#### TFIDF

In [27]:
from sklearn.feature_extraction.text import TfidfTransformer

count_vect = CountVectorizer(analyzer = "word")
train_features = count_vect.fit_transform(X_train)
test_features = count_vect.transform(X_test)

tfidf = TfidfTransformer(norm="l2")
train_text_tfidf_features = tfidf.fit_transform(train_features)
test_text_tfidf_features = tfidf.transform(test_features)

#### FUNCTION FOR TRAINING

In [28]:
def train_and_evaluate_classifier(X, yt, estimator, grid):
    """Train and Evaluate a estimator (defined as input parameter) on the given labeled data using accuracy."""
    
    # Cross validation
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    classifier = GridSearchCV(estimator=estimator, cv=cv,  param_grid=grid, error_score=0.0, n_jobs = -1, verbose = 5, scoring='f1')
    
    # Train the model over and tune the parameters
    print("Training model")
    classifier.fit(X, yt)

    # CV-score
    print("CV-scores for each grid configuration")
    means = classifier.cv_results_['mean_test_score']
    stds = classifier.cv_results_['std_test_score']
    for mean, std, params in sorted(zip(means, stds, classifier.cv_results_['params']), key=lambda x: -x[0]):
        print("Accuracy: %0.3f (+/-%0.03f) for params: %r" % (mean, std * 2, params))
    print()

    return classifier

In [29]:
nb_text_cls = train_and_evaluate_classifier(train_text_tfidf_features, y_train, MultinomialNB(), {})

Training model
Fitting 5 folds for each of 1 candidates, totalling 5 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

CV-scores for each grid configuration
Accuracy: 0.000 (+/-0.000) for params: {}

[Parallel(n_jobs=-1)]: Done   2 out of   5 | elapsed:    2.8s remaining:    4.2s
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    2.9s finished

In [30]:
results_df = pd.DataFrame(columns=['Approach', 'Accuracy'])
results_df.loc[len(results_df)] = ['NB Baseline', 0.000]
results_df

      Approach  Accuracy
0  NB Baseline       0.0

#### SVM

In [31]:
# SVM model
from sklearn.svm import SVC

svm_grid = [
  {'C': [0.01, 0.1, 1], 'kernel': ['linear']},
  {'C': [10,100,1000], 'gamma': ['scale', 'auto'], 'kernel': ['rbf']},
 ]

svm_cls = train_and_evaluate_classifier(train_text_tfidf_features, y_train, SVC(class_weight='balanced'), svm_grid)

Training model
Fitting 5 folds for each of 9 candidates, totalling 45 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:   12.0s
[Parallel(n_jobs=-1)]: Done  40 out of  45 | elapsed:  1.1min remaining:    8.0s
[Parallel(n_jobs=-1)]: Done  45 out of  45 | elapsed:  1.1min finished

CV-scores for each grid configuration
Accuracy: 0.619 (+/-0.042) for params: {'C': 1, 'kernel': 'linear'}
Accuracy: 0.580 (+/-0.080) for params: {'C': 1000, 'gamma': 'auto', 'kernel': 'rbf'}
Accuracy: 0.569 (+/-0.074) for params: {'C': 0.1, 'kernel': 'linear'}
Accuracy: 0.463 (+/-0.216) for params: {'C': 100, 'gamma': 'auto', 'kernel': 'rbf'}
Accuracy: 0.351 (+/-0.103) for params: {'C': 10, 'gamma': 'scale', 'kernel': 'rbf'}
Accuracy: 0.351 (+/-0.103) for params: {'C': 100, 'gamma': 'scale', 'kernel': 'rbf'}
Accuracy: 0.351 (+/-0.103) for params: {'C': 1000, 'gamma': 'scale', 'kernel': 'rbf'}
Accuracy: 0.029 (+/-0.114) for params: {'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}
Accuracy: 0.000 (+/-0.000) for params: {'C': 0.01, 'kernel': 'linear'}

#### Count vectorization method

In [32]:
count_vect = CountVectorizer(analyzer = "word") 

train_text_features = count_vect.fit_transform(X_train)
test_text_features = count_vect.transform(X_test)

In [33]:
svm_cls = train_and_evaluate_classifier(train_text_features, y_train, SVC(class_weight='balanced'), svm_grid)

Training model
Fitting 5 folds for each of 9 candidates, totalling 45 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done  40 out of  45 | elapsed:   29.0s remaining:    3.5s
[Parallel(n_jobs=-1)]: Done  45 out of  45 | elapsed:   30.8s finished

CV-scores for each grid configuration
Accuracy: 0.600 (+/-0.048) for params: {'C': 100, 'gamma': 'auto', 'kernel': 'rbf'}
Accuracy: 0.592 (+/-0.074) for params: {'C': 0.01, 'kernel': 'linear'}
Accuracy: 0.575 (+/-0.114) for params: {'C': 0.1, 'kernel': 'linear'}
Accuracy: 0.557 (+/-0.110) for params: {'C': 1000, 'gamma': 'auto', 'kernel': 'rbf'}
Accuracy: 0.548 (+/-0.079) for params: {'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}
Accuracy: 0.533 (+/-0.135) for params: {'C': 1, 'kernel': 'linear'}
Accuracy: 0.469 (+/-0.119) for params: {'C': 100, 'gamma': 'scale', 'kernel': 'rbf'}
Accuracy: 0.469 (+/-0.119) for params: {'C': 1000, 'gamma': 'scale', 'kernel': 'rbf'}
Accuracy: 0.469 (+/-0.126) for params: {'C': 10, 'gamma': 'scale', 'kernel': 'rbf'}

#### MaxEnt

In [34]:
from sklearn.linear_model import LogisticRegression
max_ent_grid= {'penalty': ['l2'], 'C': np.logspace(-2, 2, 20)}
max_ent_cls = train_and_evaluate_classifier(train_text_features, y_train, LogisticRegression(class_weight='balanced', max_iter=1000), max_ent_grid)

Training model
Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    0.1s

CV-scores for each grid configuration
Accuracy: 0.608 (+/-0.077) for params: {'C': 0.06951927961775606, 'penalty': 'l2'}
Accuracy: 0.607 (+/-0.089) for params: {'C': 0.18329807108324356, 'penalty': 'l2'}
Accuracy: 0.607 (+/-0.094) for params: {'C': 0.11288378916846889, 'penalty': 'l2'}
Accuracy: 0.606 (+/-0.093) for params: {'C': 0.29763514416313175, 'penalty': 'l2'}
Accuracy: 0.603 (+/-0.048) for params: {'C': 0.026366508987303583, 'penalty': 'l2'}
Accuracy: 0.602 (+/-0.081) for params: {'C': 0.4832930238571752, 'penalty': 'l2'}
Accuracy: 0.600 (+/-0.067) for params: {'C': 0.04281332398719394, 'penalty': 'l2'}
Accuracy: 0.599 (+/-0.067) for params: {'C': 0.016237767391887217, 'penalty': 'l2'}
Accuracy: 0.596 (+/-0.110) for params: {'C': 3.359818286283781, 'penalty': 'l2'}
Accuracy: 0.594 (+/-0.117) for params: {'C': 2.06913808111479, 'penalty': 'l2'}
Accuracy: 0.594 (+/-0.100) for params: {'C': 5.455594781168514, 'penalty': 'l2'}
Accuracy: 0.593 (+/-0.084) for params: {'C': 0.7847599703514611, 'penalty': 'l2'}
Accuracy: 0.592 (+/-0.101) for params: {'C': 1.2742749857031335, 'penalty': 'l2'}
Accuracy: 0.590 (+/-0.068) for params: {'C': 0.01, 'penalty': 'l2'}
Accuracy: 0.588 (+/-0.098) for params: {'C': 8.858667904100823, 'penalty': 'l2'}
Accuracy: 0.585 (+/-0.094) for params: {'C': 14.38449888287663, 'penalty': 'l2'}
Accuracy: 0.579 (+/-0.095) for params: {'C': 23.357214690901213, 'penalty': 'l2'}
Accuracy: 0.577 (+/-0.097) for params: {'C': 37.92690190732246, 'penalty': 'l2'}
Accuracy: 0.572 (+/-0.114) for params: {'C': 61.584821106602604, 'penalty': 'l2'}
Accuracy: 0.571 (+/-0.123) for params: {'C': 100.0, 'penalty': 'l2'}

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    7.6s finished

In [35]:
results_df.loc[len(results_df)] = ['MaxEnt', 0.608]
results_df

      Approach  Accuracy
0  NB Baseline     0.000
1       MaxEnt     0.608

#### POS Tagging

In [36]:
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
  
def pos_tagging(text):
    pos_text = nltk.pos_tag(nltk.word_tokenize(text))
    return " ".join([t + "_" + pos for t, pos in pos_text])

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\tomma\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\tomma\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [38]:
X_trainPOS = X_train.apply(pos_tagging)
X_testPOS = X_test.apply(pos_tagging)

train_pos_text_features = count_vect.fit_transform(X_trainPOS)
test_pos_text_features = count_vect.transform(X_testPOS)

#### Max Ent with POS

In [39]:
pos_cls = train_and_evaluate_classifier(train_pos_text_features, y_train, LogisticRegression(class_weight='balanced', max_iter=1000), max_ent_grid)

Training model
Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    5.6s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.4s finished

CV-scores for each grid configuration
Accuracy: 0.564 (+/-0.052) for params: {'C': 0.11288378916846889, 'penalty': 'l2'}
Accuracy: 0.562 (+/-0.075) for params: {'C': 0.06951927961775606, 'penalty': 'l2'}
Accuracy: 0.559 (+/-0.036) for params: {'C': 0.4832930238571752, 'penalty': 'l2'}
Accuracy: 0.559 (+/-0.036) for params: {'C': 0.29763514416313175, 'penalty': 'l2'}
Accuracy: 0.558 (+/-0.044) for params: {'C': 0.18329807108324356, 'penalty': 'l2'}
Accuracy: 0.552 (+/-0.064) for params: {'C': 0.04281332398719394, 'penalty': 'l2'}
Accuracy: 0.548 (+/-0.073) for params: {'C': 0.7847599703514611, 'penalty': 'l2'}
Accuracy: 0.545 (+/-0.070) for params: {'C': 0.026366508987303583, 'penalty': 'l2'}
Accuracy: 0.544 (+/-0.069) for params: {'C': 0.016237767391887217, 'penalty': 'l2'}
Accuracy: 0.542 (+/-0.086) for params: {'C': 1.2742749857031335, 'penalty': 'l2'}
Accuracy: 0.537 (+/-0.094) for params: {'C': 2.06913808111479, 'penalty': 'l2'}
Accuracy: 0.534 (+/-0.095) for params: {'C': 3.359818286283781, 'penalty': 'l2'}
Accuracy: 0.533 (+/-0.104) for params: {'C': 5.455594781168514, 'penalty': 'l2'}
Accuracy: 0.532 (+/-0.060) for params: {'C': 0.01, 'penalty': 'l2'}
Accuracy: 0.524 (+/-0.108) for params: {'C': 8.858667904100823, 'penalty': 'l2'}
Accuracy: 0.523 (+/-0.111) for params: {'C': 37.92690190732246, 'penalty': 'l2'}
Accuracy: 0.523 (+/-0.122) for params: {'C': 14.38449888287663, 'penalty': 'l2'}
Accuracy: 0.522 (+/-0.111) for params: {'C': 61.584821106602604, 'penalty': 'l2'}
Accuracy: 0.521 (+/-0.112) for params: {'C': 23.357214690901213, 'penalty': 'l2'}
Accuracy: 0.514 (+/-0.121) for params: {'C': 100.0, 'penalty': 'l2'}

In [40]:
results_df.loc[len(results_df)] = ['MaxEnt + POS', 0.743]
results_df

       Approach  Accuracy
0   NB Baseline     0.000
1        MaxEnt     0.608
2  MaxEnt + POS     0.743

#### NER Tagging

In [41]:
 def ner_tagging(text):
    pos_text = nltk.pos_tag(nltk.word_tokenize(text))
    ne_text  = ne_chunk(pos_text)

    
    ner_text = ""
    for chunk in ne_text:
        if hasattr(chunk, 'label'):
            ner_text=ner_text +"NER_"+chunk.label()+" "
        else:
            ner_text=ner_text+str(chunk[0])+" "
    return ner_text

In [42]:
#nltk.download('maxent_ne_chunker')
#nltk.download('words')
X_trainNER = X_train.apply(ner_tagging)
X_testNER = X_test.apply(ner_tagging)

train_ner_text_features = count_vect.fit_transform(X_trainNER)
test_ner_text_features = count_vect.transform(X_testNER)

KeyboardInterrupt:

#### MaxEnt with NER

In [43]:
ner_cls = train_and_evaluate_classifier(train_ner_text_features, y_train, LogisticRegression(class_weight='balanced', max_iter=1000), max_ent_grid)

NameError: name 'train_ner_text_features' is not defined

In [ ]:
results_df.loc[len(results_df)] = ['MaxEnt + NER', 0.606]
results_df

#### Rebalancing dataset

In [45]:
len(df.Target[df.Target == 1])

401

In [46]:
len(df.Target[df.Target == 0])

3658

In [47]:
# Separate majority and minority classes
from sklearn.utils import resample

df_majority = df[df.Target==0]
df_minority = df[df.Target==1]
 
# Downsample majority class
df_majority_downsampled = resample(df_majority, 
                                 replace=False,    # sample without replacement
                                 n_samples=401,     # to match minority class
                                 random_state=123) # reproducible results
 
# Combine minority class with downsampled majority class
df_downsampled = pd.concat([df_majority_downsampled, df_minority])
 
# Display new class counts
df_downsampled.Target.value_counts()
# 1    401
# 0    401
# Name: balance, dtype: int64

1.0    401
0.0    401
Name: Target, dtype: int64

In [48]:
from sklearn.model_selection import train_test_split
X = df_downsampled['clean_review']
y = df_downsampled['Target']
print("X shape = ",X.shape)
print("y shape = ",y.shape)

X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.20, random_state=55, shuffle =True)
print('data splitting successfully')

X shape =  (802,)
y shape =  (802,)
data splitting successfully

In [49]:
count_vect = CountVectorizer(analyzer = "word") 

train_text_features = count_vect.fit_transform(X_train)
test_text_features = count_vect.transform(X_test)

In [50]:
from sklearn.linear_model import LogisticRegression
max_ent_grid= {'penalty': ['l2'], 'C': np.logspace(-2, 2, 20)}
max_ent_cls = train_and_evaluate_classifier(train_text_features, y_train, LogisticRegression(class_weight='balanced', max_iter=1000), max_ent_grid)

Training model
Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done  22 out of 100 | elapsed:    0.3s remaining:    1.4s
[Parallel(n_jobs=-1)]: Done  64 out of 100 | elapsed:    0.9s remaining:    0.5s

CV-scores for each grid configuration
Accuracy: 0.835 (+/-0.029) for params: {'C': 0.4832930238571752, 'penalty': 'l2'}
Accuracy: 0.834 (+/-0.033) for params: {'C': 0.7847599703514611, 'penalty': 'l2'}
Accuracy: 0.834 (+/-0.028) for params: {'C': 0.29763514416313175, 'penalty': 'l2'}
Accuracy: 0.834 (+/-0.034) for params: {'C': 1.2742749857031335, 'penalty': 'l2'}
Accuracy: 0.832 (+/-0.042) for params: {'C': 0.06951927961775606, 'penalty': 'l2'}
Accuracy: 0.828 (+/-0.031) for params: {'C': 0.04281332398719394, 'penalty': 'l2'}
Accuracy: 0.827 (+/-0.036) for params: {'C': 0.18329807108324356, 'penalty': 'l2'}
Accuracy: 0.825 (+/-0.040) for params: {'C': 0.11288378916846889, 'penalty': 'l2'}
Accuracy: 0.825 (+/-0.035) for params: {'C': 2.06913808111479, 'penalty': 'l2'}
Accuracy: 0.824 (+/-0.035) for params: {'C': 0.026366508987303583, 'penalty': 'l2'}
Accuracy: 0.823 (+/-0.036) for params: {'C': 3.359818286283781, 'penalty': 'l2'}
Accuracy: 0.821 (+/-0.039) for params: {'C': 5.455594781168514, 'penalty': 'l2'}
Accuracy: 0.819 (+/-0.041) for params: {'C': 8.858667904100823, 'penalty': 'l2'}
Accuracy: 0.817 (+/-0.036) for params: {'C': 14.38449888287663, 'penalty': 'l2'}
Accuracy: 0.817 (+/-0.036) for params: {'C': 23.357214690901213, 'penalty': 'l2'}
Accuracy: 0.817 (+/-0.058) for params: {'C': 0.016237767391887217, 'penalty': 'l2'}
Accuracy: 0.815 (+/-0.045) for params: {'C': 37.92690190732246, 'penalty': 'l2'}
Accuracy: 0.813 (+/-0.044) for params: {'C': 61.584821106602604, 'penalty': 'l2'}
Accuracy: 0.812 (+/-0.046) for params: {'C': 100.0, 'penalty': 'l2'}
Accuracy: 0.806 (+/-0.060) for params: {'C': 0.01, 'penalty': 'l2'}

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    1.5s finished

#### SVM

In [51]:
svm_cls = train_and_evaluate_classifier(train_text_features, y_train, SVC(class_weight='balanced'), svm_grid)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Training model
Fitting 5 folds for each of 9 candidates, totalling 45 fits

[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done  40 out of  45 | elapsed:    2.7s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done  45 out of  45 | elapsed:    3.0s finished

CV-scores for each grid configuration
Accuracy: 0.836 (+/-0.054) for params: {'C': 0.01, 'kernel': 'linear'}
Accuracy: 0.822 (+/-0.046) for params: {'C': 100, 'gamma': 'auto', 'kernel': 'rbf'}
Accuracy: 0.815 (+/-0.071) for params: {'C': 100, 'gamma': 'scale', 'kernel': 'rbf'}
Accuracy: 0.815 (+/-0.071) for params: {'C': 1000, 'gamma': 'scale', 'kernel': 'rbf'}
Accuracy: 0.813 (+/-0.073) for params: {'C': 10, 'gamma': 'scale', 'kernel': 'rbf'}
Accuracy: 0.812 (+/-0.040) for params: {'C': 0.1, 'kernel': 'linear'}
Accuracy: 0.802 (+/-0.043) for params: {'C': 1000, 'gamma': 'auto', 'kernel': 'rbf'}
Accuracy: 0.800 (+/-0.029) for params: {'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}
Accuracy: 0.799 (+/-0.049) for params: {'C': 1, 'kernel': 'linear'}

In [52]:
from sklearn.metrics import f1_score
model = svm_cls
print(' Train Score is   : ' ,model.score(train_text_features, y_train))
print(' Test Score is    : ' ,model.score(test_text_features, y_test))
    
y_pred = model.predict(test_text_features)
print(' F1 Score is      : ' ,f1_score(y_test,y_pred))
print('--------------------------------------------------------------------------')

 Train Score is   :  0.9501557632398754
 Test Score is    :  0.8466257668711655
 F1 Score is      :  0.8466257668711655
--------------------------------------------------------------------------

In [55]:
print ('Accuracy:', accuracy_score(y_test, y_pred))
print ('F1 score:', f1_score(y_test, y_pred,average='weighted'))
print ('Recall:', recall_score(y_test, y_pred,
                              average='weighted'))
print ('Precision:', precision_score(y_test, y_pred,
                                    average='weighted'))
print ('\n clasification report:\n', classification_report(y_test, y_pred))
print ('\n confussion matrix:\n',confusion_matrix(y_test, y_pred))

Accuracy: 0.84472049689441
F1 score: 0.8447804110446223

NameError: name 'recall_score' is not defined