In [4]:
import pandas as pd
import numpy as np

serie = pd.read_csv('Hotel reviews.csv')
df = pd.DataFrame(serie)

### porcodio

In [2]:
# Keeping only the hotels for our business purpose
df = df[df['Establishment Type'] == 'Hotel']
df.head()

,Review Date,Star Rating,Overview,Review,Traveler Type,Score Breakdown,Location,Reviewer Rank,Name,Establishment Type,Price Range,Hotel ID
0,28-Feb-11,5,Very nice atmosphere,We were together with some friends at the Anew...,traveled with family,Value: 5 of 5 stars; Location: 5 of 5 stars; S...,"Skofja Loka, Slovenia",NaN,Villa Ottone,Hotel,$$,25.0
1,21-Feb-10,4,"Very nice food, great atmosphere, feels like...",Martin and his staff are truely great! They ma...,traveled with family,Value: 5 of 5 stars; Location: 3 of 5 stars; S...,Brussels,Contributor,Villa Ottone,Hotel,$$,25.0
2,4 days ago NEW,5,Best Hotel on the Planet,We have stayed at the Excelsior on numerous oc...,traveled with family,Value: 5 of 5 stars; Sleep Quality: 5 of 5 sta...,"Singapore, Singapore",Contributor,San Vigilio,Hotel,$$$$,49.0
3,17-Sep-14,5,Fantastic,The great reviews are well deserved. Stayed he...,traveled as a couple,Location: 5 of 5 stars; Rooms: 5 of 5 stars; S...,"Burlington, Canada",Senior Contributor,San Vigilio,Hotel,$$$$,49.0
4,27-Jul-14,5,It is all true!,Not sure we can add anything to the accurate r...,traveled as a couple,Rooms: 5 of 5 stars; Cleanliness: 5 of 5 stars...,"Manchester, United Kingdom",Senior Reviewer,San Vigilio,Hotel,$$$$,49.0

#### DATE cleaning

In [3]:
df = df[~df['Review Date'].str.contains("ago")]
df = df[~df['Review Date'].str.contains("NEW")]
df = df.reset_index(drop = True)

In [4]:
df

,Review Date,Star Rating,Overview,Review,Traveler Type,Score Breakdown,Location,Reviewer Rank,Name,Establishment Type,Price Range,Hotel ID
0,28-Feb-11,5,Very nice atmosphere,We were together with some friends at the Anew...,traveled with family,Value: 5 of 5 stars; Location: 5 of 5 stars; S...,"Skofja Loka, Slovenia",NaN,Villa Ottone,Hotel,$$,25.0
1,21-Feb-10,4,"Very nice food, great atmosphere, feels like...",Martin and his staff are truely great! They ma...,traveled with family,Value: 5 of 5 stars; Location: 3 of 5 stars; S...,Brussels,Contributor,Villa Ottone,Hotel,$$,25.0
2,17-Sep-14,5,Fantastic,The great reviews are well deserved. Stayed he...,traveled as a couple,Location: 5 of 5 stars; Rooms: 5 of 5 stars; S...,"Burlington, Canada",Senior Contributor,San Vigilio,Hotel,$$$$,49.0
3,27-Jul-14,5,It is all true!,Not sure we can add anything to the accurate r...,traveled as a couple,Rooms: 5 of 5 stars; Cleanliness: 5 of 5 stars...,"Manchester, United Kingdom",Senior Reviewer,San Vigilio,Hotel,$$$$,49.0
4,23-Jul-14,5,Beyond our expectations,Everything was a high level surprise: from the...,traveled with family,Sleep Quality: 5 of 5 stars; Rooms: 5 of 5 sta...,"Milan, Italy",Contributor,San Vigilio,Hotel,$$$$,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4416,15-Nov-05,5,A Perfect Place to Stay in a Quaint Town,This hotel is above & beyond. The room was ver...,NaN,Value: 5 of 5 stars; Rooms: 5 of 5 stars; Clea...,"Santa Cruz, CA",Senior Reviewer,Bolzano,Hotel,$$,33.0
4417,9-Jul-05,4,Super Hotel,My wife and I spent two nights here in June. T...,NaN,Value: 4 of 5 stars; Rooms: 4 of 5 stars; Clea...,San Diego,Contributor,Bolzano,Hotel,$$,33.0
4418,31-May-05,5,How cool is this place!,"I am at the Hotel Greif now, writing this revi...",NaN,Value: 5 of 5 stars; Rooms: 5 of 5 stars; Clea...,"Winter Haven, FL",Reviewer,Bolzano,Hotel,$$,33.0
4419,3-Feb-05,5,Wow and wow,I have stayed at the Greif many times with my ...,traveled on business,Value: 4 of 5 stars; Rooms: 5 of 5 stars; Clea...,UK,Top Contributor,Bolzano,Hotel,$$,33.0
4420,7-Aug-13,5,"Otzi's home town, and this hotel, are great!",We thoroughly enjoyed our 2 day stay in Bolzan...,traveled as a couple,Value: 4 of 5 stars; Location: 5 of 5 stars; S...,"Melbourne, Australia",Contributor,Bolzano,Hotel,$$,99.0

In [5]:
df['Review Date'] = pd.to_datetime(df['Review Date'])

In [6]:
df.dtypes

Review Date           datetime64[ns]
Star Rating                    int64
Overview                      object
Review                        object
Traveler Type                 object
Score Breakdown               object
Location                      object
Reviewer Rank                 object
Name                          object
Establishment Type            object
Price Range                   object
Hotel ID                     float64
dtype: object

#### LOCATION cleaning

In [7]:
df.Location[df.Location.isnull() == True] = 'NULL' #Assigning a NULL to the empty cell, without doing it it is difficult to work on this column of lists

C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
df.Location = df.Location.str.split(", ")

In [9]:
# Creating a column just with the city and not the country because we have a lot of missing values for the country so is relevant to save only the city
for i in range(0,len(df)):
        df.Location[i] = df.Location[i][0]

C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
df.Location

0        Skofja Loka
1           Brussels
2         Burlington
3         Manchester
4              Milan
            ...
4416      Santa Cruz
4417       San Diego
4418    Winter Haven
4419              UK
4420       Melbourne
Name: Location, Length: 4421, dtype: object

#### Rewieer rank CLEANING

In [11]:
df['Reviewer Rank'].fillna('Contributor', inplace=True)
df['Reviewer Rank'] = df['Reviewer Rank'].map({'Contributor': 1,'Reviewer': 2,\
                                               'Senior Contributor': 3,'Senior Reviewer': 4, 'Top Contributor': 5})

In [12]:
df

,Review Date,Star Rating,Overview,Review,Traveler Type,Score Breakdown,Location,Reviewer Rank,Name,Establishment Type,Price Range,Hotel ID
0,2011-02-28,5,Very nice atmosphere,We were together with some friends at the Anew...,traveled with family,Value: 5 of 5 stars; Location: 5 of 5 stars; S...,Skofja Loka,1,Villa Ottone,Hotel,$$,25.0
1,2010-02-21,4,"Very nice food, great atmosphere, feels like...",Martin and his staff are truely great! They ma...,traveled with family,Value: 5 of 5 stars; Location: 3 of 5 stars; S...,Brussels,1,Villa Ottone,Hotel,$$,25.0
2,2014-09-17,5,Fantastic,The great reviews are well deserved. Stayed he...,traveled as a couple,Location: 5 of 5 stars; Rooms: 5 of 5 stars; S...,Burlington,3,San Vigilio,Hotel,$$$$,49.0
3,2014-07-27,5,It is all true!,Not sure we can add anything to the accurate r...,traveled as a couple,Rooms: 5 of 5 stars; Cleanliness: 5 of 5 stars...,Manchester,4,San Vigilio,Hotel,$$$$,49.0
4,2014-07-23,5,Beyond our expectations,Everything was a high level surprise: from the...,traveled with family,Sleep Quality: 5 of 5 stars; Rooms: 5 of 5 sta...,Milan,1,San Vigilio,Hotel,$$$$,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4416,2005-11-15,5,A Perfect Place to Stay in a Quaint Town,This hotel is above & beyond. The room was ver...,NaN,Value: 5 of 5 stars; Rooms: 5 of 5 stars; Clea...,Santa Cruz,4,Bolzano,Hotel,$$,33.0
4417,2005-07-09,4,Super Hotel,My wife and I spent two nights here in June. T...,NaN,Value: 4 of 5 stars; Rooms: 4 of 5 stars; Clea...,San Diego,1,Bolzano,Hotel,$$,33.0
4418,2005-05-31,5,How cool is this place!,"I am at the Hotel Greif now, writing this revi...",NaN,Value: 5 of 5 stars; Rooms: 5 of 5 stars; Clea...,Winter Haven,2,Bolzano,Hotel,$$,33.0
4419,2005-02-03,5,Wow and wow,I have stayed at the Greif many times with my ...,traveled on business,Value: 4 of 5 stars; Rooms: 5 of 5 stars; Clea...,UK,5,Bolzano,Hotel,$$,33.0
4420,2013-08-07,5,"Otzi's home town, and this hotel, are great!",We thoroughly enjoyed our 2 day stay in Bolzan...,traveled as a couple,Value: 4 of 5 stars; Location: 5 of 5 stars; S...,Melbourne,1,Bolzano,Hotel,$$,99.0

#### Expanding the Score Breakdown into 6 different columns

In [13]:
## creating a function to use in the below for loop
def sorter(text):
    text = text.strip()
    if text == "Value":
        return 0
    elif text == "Location":
        return 1
    elif text == "Sleep Quality":
        return 2
    elif text == "Rooms":
        return 3
    elif text == "Cleanliness":
        return 4
    elif text == "Service":
        return 5
    elif text == "Food":
        return 6
    else:
        return 7

In [14]:
#Dropping Na
df = df[df['Score Breakdown'].notna()].reset_index(drop = True)

In [15]:
import numpy as np
ma = np.zeros(shape = (len(df['Score Breakdown']), 8))

for i in range(0,len(df['Score Breakdown'])):
    
    ar = df['Score Breakdown'][i].split(";")
    ln = np.zeros(8)
    for j in range(0,len(ar)):
        k = ar[j][0:ar[j].index(':')]
        value = ar[j][(ar[j].index(':')+1):(ar[j].index('of'))].strip()
        ln[sorter(k)] = value
    ma[i] = ln

In [16]:
df['Value'] = pd.Series(np.transpose(ma)[0]).astype(int)
df['Location'] = pd.Series(np.transpose(ma)[1]).astype(int)
df['Sleep Quality'] = pd.Series(np.transpose(ma)[2]).astype(int)
df['Rooms'] = pd.Series(np.transpose(ma)[3]).astype(int)
df['Cleanliness'] = pd.Series(np.transpose(ma)[4]).astype(int)
df['Service'] = pd.Series(np.transpose(ma)[5]).astype(int)
df['Food'] = pd.Series(np.transpose(ma)[6]).astype(int)
del df['Score Breakdown']

### ML Pipeline

#### NLP Cleaning

In [17]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>")) # Increase cell width
display(HTML("<style>.rendered_html { font-size: 16px; }</style>")) # Increase font size

# Matplotlib conf
import matplotlib.pyplot as plt
from matplotlib import interactive
%matplotlib inline

# Seaborn conf
import seaborn as sns
sns.set_palette(sns.color_palette("seismic"))

# Needed Libraries
import sys
import pandas
import pandas as pd
import numpy as np
import operator
import string
import re

import nltk
from nltk import word_tokenize, pos_tag, ne_chunk
from nltk.stem import *
from nltk.corpus import stopwords
from nltk.tokenize import WhitespaceTokenizer



from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_score, GridSearchCV, ShuffleSplit

In [23]:
import nltk
nltk.download('stopwords')
import nltk
nltk.download('wordnet')
set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\tomma\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\tomma\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [21]:
def process_text(raw_text):
    letters_only = re.sub("[^a-zA-Z]", " ",raw_text) 
    words = letters_only.lower().split()
    
    stops = set(stopwords.words("english")) 
    not_stop_words = [w for w in words if not w in stops]
    
    wordnet_lemmatizer = WordNetLemmatizer()
    lemmatized = [wordnet_lemmatizer.lemmatize(word) for word in not_stop_words]
    
    stemmer = PorterStemmer()
    stemmed = [stemmer.stem(word) for word in lemmatized]
    
    return( " ".join( stemmed ))

In [25]:
# Cleaning the Overview
df['clean_overview'] = df['Overview'].apply(lambda x: process_text(x))
df.head()

,Review Date,Star Rating,Overview,Review,Traveler Type,Location,Reviewer Rank,Name,Establishment Type,Price Range,Hotel ID,Value,Sleep Quality,Rooms,Cleanliness,Service,Food,clean_text
0,2011-02-28,5,Very nice atmosphere,We were together with some friends at the Anew...,traveled with family,5,1,Villa Ottone,Hotel,$$,25.0,5,4,5,5,5,0,nice atmospher
1,2010-02-21,4,"Very nice food, great atmosphere, feels like...",Martin and his staff are truely great! They ma...,traveled with family,3,1,Villa Ottone,Hotel,$$,25.0,5,5,4,5,5,0,nice food great atmospher feel like home
2,2014-09-17,5,Fantastic,The great reviews are well deserved. Stayed he...,traveled as a couple,5,3,San Vigilio,Hotel,$$$$,49.0,0,0,5,0,5,0,fantast
3,2014-07-27,5,It is all true!,Not sure we can add anything to the accurate r...,traveled as a couple,0,4,San Vigilio,Hotel,$$$$,49.0,0,0,5,5,5,0,true
4,2014-07-23,5,Beyond our expectations,Everything was a high level surprise: from the...,traveled with family,0,1,San Vigilio,Hotel,$$$$,49.0,0,5,5,0,5,0,beyond expect

In [26]:
# Cleaning the Review
# Cleaning the Overview
df['clean_review'] = df['Review'].apply(lambda x: process_text(x))
df.head()

,Review Date,Star Rating,Overview,Review,Traveler Type,Location,Reviewer Rank,Name,Establishment Type,Price Range,Hotel ID,Value,Sleep Quality,Rooms,Cleanliness,Service,Food,clean_text,clean_review
0,2011-02-28,5,Very nice atmosphere,We were together with some friends at the Anew...,traveled with family,5,1,Villa Ottone,Hotel,$$,25.0,5,4,5,5,5,0,nice atmospher,togeth friend anewandt hof took apart enabl u ...
1,2010-02-21,4,"Very nice food, great atmosphere, feels like...",Martin and his staff are truely great! They ma...,traveled with family,3,1,Villa Ottone,Hotel,$$,25.0,5,5,4,5,5,0,nice food great atmospher feel like home,martin staff trueli great make feel home cheff...
2,2014-09-17,5,Fantastic,The great reviews are well deserved. Stayed he...,traveled as a couple,5,3,San Vigilio,Hotel,$$$$,49.0,0,0,5,0,5,0,fantast,great review well deserv stay five night augus...
3,2014-07-27,5,It is all true!,Not sure we can add anything to the accurate r...,traveled as a couple,0,4,San Vigilio,Hotel,$$$$,49.0,0,0,5,5,5,0,true,sure add anyth accur review wonder holiday exp...
4,2014-07-23,5,Beyond our expectations,Everything was a high level surprise: from the...,traveled with family,0,1,San Vigilio,Hotel,$$$$,49.0,0,5,5,0,5,0,beyond expect,everyth high level surpris kitchen breakfast h...

### Target definition
In order to define the target variable to train our NLP model we are going to use the overall rating

In [7]:
df['Target'] = np.nan
for i in range(0,len(df)):
    if df['Star Rating'][i] > 3:
        df['Target'][i] = 1
    else:
        df['Target'][i] = 0

C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
df[df.Target == 0]

,Review Date,Star Rating,Overview,Review,Traveler Type,Score Breakdown,Location,Reviewer Rank,Name,Establishment Type,Price Range,Hotel ID,Target
32,14-Nov-11,3,Good hotel but nothing special,Nice suite! Spa was good except for the arroga...,traveled as a couple,Value: 3 of 5 stars; Location: 3 of 5 stars; S...,france,Senior Contributor,Naturno,Hotel,$$$$,60.0,0.0
111,9-Aug-14,3,A disappointment,"The room was very small, the shower was terrib...",traveled with family,Value: 2 of 5 stars; Location: 3 of 5 stars; S...,USA,Senior Reviewer,Castelrotto,Hotel,$,12.0,0.0
134,14-Sep-14,2,"Chilly cold, slow and condescending service ...",We came at noon. The waiters totally ignored u...,NaN,Value: 2 of 5 stars; Atmosphere: 2 of 5 stars;...,NaN,NaN,Racines,Restaurant,NaN,NaN,0.0
141,10-Jan-14,2,Disappointed,We have been visiting Fana Ladina since 2008 a...,NaN,Value: 3 of 5 stars; Atmosphere: 4 of 5 stars;...,"The Hague, The Netherlands",Senior Reviewer,San Vigilio,Restaurant,NaN,NaN,0.0
143,27-Jul-13,3,Good local food,What you are served with is good food no doubt...,NaN,Value: 4 of 5 stars; Atmosphere: 3 of 5 stars;...,Morges,Top Contributor,San Vigilio,Restaurant,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7138,18-Nov-11,3,"Nce brewpub, if you like the local beer style","You'd go for a beer and a pretzel, but dinner ...",NaN,Value: 3 of 5 stars; Atmosphere: 3 of 5 stars;...,"Manchester, United Kingdom",Contributor,Bolzano,Restaurant,NaN,NaN,0.0
7140,25-Oct-11,3,"Nice beer, food and service average",The beer is nice but the service is just so so...,NaN,Value: 3 of 5 stars; Atmosphere: 3 of 5 stars;...,NaN,Top Contributor,Bolzano,Restaurant,NaN,NaN,0.0
7141,16-Oct-11,3,Fun place,"Good beer, nice pub-style food, bustling atmos...",NaN,NaN,"Olympia, WA",Senior Contributor,Bolzano,Restaurant,NaN,NaN,0.0
7142,20-Sep-11,3,Good beer; adequate food,The beer is absolutely tops. Service was lukew...,NaN,Value: 3 of 5 stars; Atmosphere: 3 of 5 stars;...,Utah,Top Contributor,Bolzano,Restaurant,NaN,NaN,0.0
7143,8-Sep-11,1,"Terrible Service, Food not worth the price",We visited this restaurant based on Rick Steve...,NaN,Value: 1 of 5 stars; Atmosphere: 2 of 5 stars;...,"Naples, Italy",Senior Contributor,Bolzano,Restaurant,NaN,NaN,0.0