feafaefeaaefeagaefae

In [1]:
import pandas as pd

serie = pd.read_csv('Hotel reviews.csv')
df = pd.DataFrame(serie)

In [14]:
# Keeping only the hotels for our business purpose
df = df[df['Establishment Type'] == 'Hotel']
df.head()

,Review Date,Star Rating,Overview,Review,Traveler Type,Score Breakdown,Location,Reviewer Rank,Name,Establishment Type,Price Range,Hotel ID
0,2011-02-28,5,Very nice atmosphere,We were together with some friends at the Anew...,traveled with family,Value: 5 of 5 stars; Location: 5 of 5 stars; S...,Skofja Loka,1,Villa Ottone,Hotel,$$,25.0
1,2010-02-21,4,"Very nice food, great atmosphere, feels like...",Martin and his staff are truely great! They ma...,traveled with family,Value: 5 of 5 stars; Location: 3 of 5 stars; S...,Brussels,1,Villa Ottone,Hotel,$$,25.0
2,2014-09-17,5,Fantastic,The great reviews are well deserved. Stayed he...,traveled as a couple,Location: 5 of 5 stars; Rooms: 5 of 5 stars; S...,Burlington,3,San Vigilio,Hotel,$$$$,49.0
3,2014-07-27,5,It is all true!,Not sure we can add anything to the accurate r...,traveled as a couple,Rooms: 5 of 5 stars; Cleanliness: 5 of 5 stars...,Manchester,4,San Vigilio,Hotel,$$$$,49.0
4,2014-07-23,5,Beyond our expectations,Everything was a high level surprise: from the...,traveled with family,Sleep Quality: 5 of 5 stars; Rooms: 5 of 5 sta...,Milan,1,San Vigilio,Hotel,$$$$,49.0

#### DATE cleaning

In [3]:
df = df[~df['Review Date'].str.contains("ago")]
df = df[~df['Review Date'].str.contains("NEW")]
df = df.reset_index(drop = True)

In [4]:
df

,Review Date,Star Rating,Overview,Review,Traveler Type,Score Breakdown,Location,Reviewer Rank,Name,Establishment Type,Price Range,Hotel ID
0,28-Feb-11,5,Very nice atmosphere,We were together with some friends at the Anew...,traveled with family,Value: 5 of 5 stars; Location: 5 of 5 stars; S...,"Skofja Loka, Slovenia",NaN,Villa Ottone,Hotel,$$,25.0
1,21-Feb-10,4,"Very nice food, great atmosphere, feels like...",Martin and his staff are truely great! They ma...,traveled with family,Value: 5 of 5 stars; Location: 3 of 5 stars; S...,Brussels,Contributor,Villa Ottone,Hotel,$$,25.0
2,17-Sep-14,5,Fantastic,The great reviews are well deserved. Stayed he...,traveled as a couple,Location: 5 of 5 stars; Rooms: 5 of 5 stars; S...,"Burlington, Canada",Senior Contributor,San Vigilio,Hotel,$$$$,49.0
3,27-Jul-14,5,It is all true!,Not sure we can add anything to the accurate r...,traveled as a couple,Rooms: 5 of 5 stars; Cleanliness: 5 of 5 stars...,"Manchester, United Kingdom",Senior Reviewer,San Vigilio,Hotel,$$$$,49.0
4,23-Jul-14,5,Beyond our expectations,Everything was a high level surprise: from the...,traveled with family,Sleep Quality: 5 of 5 stars; Rooms: 5 of 5 sta...,"Milan, Italy",Contributor,San Vigilio,Hotel,$$$$,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7012,11-Jun-12,5,Brilliant!,An incredible ride for 10 euros return. Wonder...,NaN,NaN,Surrey,Senior Reviewer,Bolzano,Attraction,NaN,NaN
7013,20-Sep-11,5,No wonder Rittner Plateau is a summer vacati...,Bolzano proper--the old city--takes about a da...,NaN,NaN,Utah,Top Contributor,Bolzano,Attraction,NaN,NaN
7014,14-Sep-11,5,Fantastic view,This was the cheapest gondola we had ever ridd...,NaN,NaN,Munich,Senior Reviewer,Bolzano,Attraction,NaN,NaN
7015,12-Dec-11,5,Don't miss it!,This cable ride up into the hills is a visual ...,NaN,NaN,"Three Rivers, California",Reviewer,Bolzano,Attraction,NaN,NaN
7016,7-Nov-11,5,Surprise Gem So Close to Town!,We spent 4 days in Bolzano and were a little c...,NaN,NaN,"Pittsburgh, PA",Senior Reviewer,Bolzano,Attraction,NaN,NaN

In [5]:
df['Review Date'] = pd.to_datetime(df['Review Date'])

In [6]:
df.dtypes

Review Date           datetime64[ns]
Star Rating                    int64
Overview                      object
Review                        object
Traveler Type                 object
Score Breakdown               object
Location                      object
Reviewer Rank                 object
Name                          object
Establishment Type            object
Price Range                   object
Hotel ID                     float64
dtype: object

#### LOCATION cleaning

In [7]:
df.Location[df.Location.isnull() == True] = 'NULL' #Assigning a NULL to the empty cell, without doing it it is difficult to work on this column of lists

C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
df.Location = df.Location.str.split(", ")

In [9]:
# Creating a column just with the city and not the country because we have a lot of missing values for the country so is relevant to save only the city
for i in range(0,len(df)):
        df.Location[i] = df.Location[i][0]

C:\Users\tomma\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
df.Location

0        Skofja Loka
1           Brussels
2         Burlington
3         Manchester
4              Milan
            ...
7012          Surrey
7013            Utah
7014          Munich
7015    Three Rivers
7016      Pittsburgh
Name: Location, Length: 7017, dtype: object

#### Rewieer rank CLEANING

In [12]:
df['Reviewer Rank'].fillna('Contributor', inplace=True)
df['Reviewer Rank'] = df['Reviewer Rank'].map({'Contributor': 1,'Reviewer': 2,\
                                               'Senior Contributor': 3,'Senior Reviewer': 4, 'Top Contributor': 5})

In [13]:
df

,Review Date,Star Rating,Overview,Review,Traveler Type,Score Breakdown,Location,Reviewer Rank,Name,Establishment Type,Price Range,Hotel ID
0,2011-02-28,5,Very nice atmosphere,We were together with some friends at the Anew...,traveled with family,Value: 5 of 5 stars; Location: 5 of 5 stars; S...,Skofja Loka,1,Villa Ottone,Hotel,$$,25.0
1,2010-02-21,4,"Very nice food, great atmosphere, feels like...",Martin and his staff are truely great! They ma...,traveled with family,Value: 5 of 5 stars; Location: 3 of 5 stars; S...,Brussels,1,Villa Ottone,Hotel,$$,25.0
2,2014-09-17,5,Fantastic,The great reviews are well deserved. Stayed he...,traveled as a couple,Location: 5 of 5 stars; Rooms: 5 of 5 stars; S...,Burlington,3,San Vigilio,Hotel,$$$$,49.0
3,2014-07-27,5,It is all true!,Not sure we can add anything to the accurate r...,traveled as a couple,Rooms: 5 of 5 stars; Cleanliness: 5 of 5 stars...,Manchester,4,San Vigilio,Hotel,$$$$,49.0
4,2014-07-23,5,Beyond our expectations,Everything was a high level surprise: from the...,traveled with family,Sleep Quality: 5 of 5 stars; Rooms: 5 of 5 sta...,Milan,1,San Vigilio,Hotel,$$$$,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7012,2012-06-11,5,Brilliant!,An incredible ride for 10 euros return. Wonder...,NaN,NaN,Surrey,4,Bolzano,Attraction,NaN,NaN
7013,2011-09-20,5,No wonder Rittner Plateau is a summer vacati...,Bolzano proper--the old city--takes about a da...,NaN,NaN,Utah,5,Bolzano,Attraction,NaN,NaN
7014,2011-09-14,5,Fantastic view,This was the cheapest gondola we had ever ridd...,NaN,NaN,Munich,4,Bolzano,Attraction,NaN,NaN
7015,2011-12-12,5,Don't miss it!,This cable ride up into the hills is a visual ...,NaN,NaN,Three Rivers,2,Bolzano,Attraction,NaN,NaN
7016,2011-11-07,5,Surprise Gem So Close to Town!,We spent 4 days in Bolzano and were a little c...,NaN,NaN,Pittsburgh,4,Bolzano,Attraction,NaN,NaN

#### Expanding the Score Breakdown into 6 different columns

In [ ]:
## creating a function to use in the below for loop
def sorter(text):
    text = text.strip()
    if text == "Value":
        return 0
    elif text == "Location":
        return 1
    elif text == "Sleep Quality":
        return 2
    elif text == "Rooms":
        return 3
    elif text == "Cleanliness":
        return 4
    elif text == "Service":
        return 5
    elif text == "Food":
        return 6
    else:
        return 7

In [ ]:
#Dropping Na
df = df[df['Score Breakdown'].notna()].reset_index(drop = True)

In [ ]:
import numpy as np
ma = np.zeros(shape = (len(df['Score Breakdown']), 8))

for i in range(0,len(df['Score Breakdown'])):
    
    ar = df['Score Breakdown'][i].split(";")
    ln = np.zeros(8)
    for j in range(0,len(ar)):
        k = ar[j][0:ar[j].index(':')]
        value = ar[j][(ar[j].index(':')+1):(ar[j].index('of'))].strip()
        ln[sorter(k)] = value
    ma[i] = ln

In [ ]:
df['Value'] = pd.Series(np.transpose(ma)[0]).astype(int)
df['Location'] = pd.Series(np.transpose(ma)[1]).astype(int)
df['Sleep Quality'] = pd.Series(np.transpose(ma)[2]).astype(int)
df['Rooms'] = pd.Series(np.transpose(ma)[3]).astype(int)
df['Cleanliness'] = pd.Series(np.transpose(ma)[4]).astype(int)
df['Service'] = pd.Series(np.transpose(ma)[5]).astype(int)
df['Food'] = pd.Series(np.transpose(ma)[6]).astype(int)
del df['Score Breakdown']